# Dependencias principales
pandas>=2.0.0
requests>=2.31.0
streamlit>=1.36.0
python-dotenv>=1.0.0
pyyaml>=6.0.0

# Dependencias para API
fastapi
uvicorn
numpy

# Visualización
plotly>=5.0.0

# (Opcional) scraping avanzado
# beautifulsoup4>=4.12.0
# selenium>=4.0.0
# playwright>=1.40.0

# (Opcional) EDA / visualización
# matplotlib>=3.8.0
# seaborn>=0.13.0
# ydata-profiling>=4.6.0
